<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.playchoice.mapper.basketMapper">

	<!-- 장바구니 목록 -->
	<select id="shoppingBasketList" resultType="PlayDTO">
		SELECT play.p_id, play.p_name, play.p_info, play.g_id
		FROM shopping_basket, play
		WHERE play.p_id=shopping_basket.p_id
		AND shopping_basket.m_code=#{m_code}
	</select>

	<!-- 장바구니 추가 -->
	<insert id="insertBasket">
		INSERT INTO shopping_basket (m_code, p_id)
		VALUES (#{m_code}, #{p_id})
	</insert>

	<!-- 장바구니 수정 -->
	<update id="updateBasket">
		UPDATE shopping_basket
		SET m_code=#{m_code}, p_id=#{p_id}
		WHERE m_id=#{m_id}
	</update>

	<!-- 장바구니 삭제 -->
	<delete id="deleteBasket">
		DELETE
		FROM shopping_basket
		WHERE p_id=#{p_id}
	</delete>

	<!-- 장바구니 조회 -->
	<select id="viewBasket" resultType="ShoppingBasketDTO">
		SELECT *
		FROM shopping_basket
		WHERE m_code=#{m_code}
	</select>

	<!-- 장바구니에 동일한 상품이 있는지 체크 -->
	<select id="countBasket" resultType="int">
		SELECT COUNT(*)
		FROM shopping_basket
		WHERE m_code=#{m_code}
		AND p_id=#{p_id}
	</select>

</mapper>
