<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- com.playchoice.play.dto.PlayDTO -->
<mapper namespace="com.playchoice.mappers.playMapper">
	<!-- com.playchoice.play.dto.PlayDTO -->
	<select id="playList" resultType="PlayDTO">
		select * from play
	</select>

	<select id="playDetail" resultType="PlayDTO">
		select p_id, p_name, p_info,
		p_refund_policy, p_location
		from play
		where p_id = #{p_id}
	</select>

	<select id="viewCal" parameterType="Integer"
		resultType="ScheduleDTO">
		select *
		from playshow
		where p_id = #{p_id}
		order by s_time
	</select>
	
	<select id="getReviewScore" parameterType="Integer"
	 resultType="java.util.HashMap">
		SELECT
			count(*) AS cnt, round(avg(review.r_play_score),1) AS avgscore
		FROM
			play, playshow, review, member
		WHERE
			review.s_id = playshow.s_id
			AND playshow.p_id = '1'
			AND review.m_code = member.m_code;
		
	</select>
	
	<select id="getReviewSmall" parameterType="Integer"
	resultType="java.util.HashMap">
		SELECT
			member.m_id AS m_id, review.r_content AS r_content, review.r_register_time AS r_register_time
			,review.r_play_score AS r_play_score
		FROM
			play, playshow, review, member
		WHERE
			review.s_id = playshow.s_id
			AND playshow.p_id = '1'
			AND review.m_code = member.m_code
		order by review.r_register_time desc
		LIMIT 20;
	</select>
</mapper>