<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.playchoice.mappers.qnaMapper">
	<insert id="insertQuset" parameterType="java.util.HashMap">
	<selectKey keyProperty="q_target_id" order="BEFORE" resultType="Integer">
		SELECT MAX(q_id)+1
		FROM question_answer
	</selectKey>
	INSERT INTO question_answer
		(q_content, m_code, p_id, q_target_id)
	VALUES
		(#{q_content}, #{m_code}, #{p_id}, #{q_target_id});
	</insert>
	
	<!-- 혹시 안되면 Mysql Safe Update 가 꺼져있는 지 확인하자 edit->SQL EDITOR->Other -->
	<update id="deleteQna" parameterType="QnaDTO" >
		UPDATE question_answer
		SET 
			q_deleted = '1'
		WHERE
			q_id = #{q_id}
			OR q_target_id = #{q_id}
	</update>
	
	<!-- 연극제목 가져오기 -->
	<select id="myPlaylist" parameterType="Integer" resultType="PlayDTO">
		SELECT p_id, p_name
		FROM play
		WHERE m_code = #{m_code};
	</select>
	
	<!-- 전체 QnA 불러오기 -->
	<select id="getQna" parameterType="Integer" resultType="QnaDTO">
		SELECT play.p_id,play.p_name
			, q_id
			, question_answer.q_content
			, question_answer.q_time
			, member.m_id
			,count(q_id) AS replychk
		FROM play, question_answer,member
		WHERE play.m_code = #{m_code}
			AND question_answer.m_code = member.m_code
			AND play.p_id = question_answer.p_id
			AND question_answer.q_deleted = '0'
		GROUP BY q_target_id
		ORDER BY q_time desc;
	</select>
	
	<!-- QnA As Play -->
	<select id="getQnaAsPlay" parameterType="Integer" resultType="QnaDTO">
		SELECT play.p_id,play.p_name
			, q_id
			, question_answer.q_content
			, question_answer.q_time
			, member.m_id
			,count(q_id) AS replychk
		FROM play, question_answer,member
		WHERE play.p_id = #{p_id}
			AND question_answer.m_code = member.m_code
			AND play.p_id = question_answer.p_id
			AND question_answer.q_deleted = '0'
		GROUP BY q_target_id
		ORDER BY q_time desc
	</select>
	
	<select id="getDetail" parameterType="QnaDTO" resultType="QnaDTO">
		select * 
		from question_answer
		where q_target_id = #{q_id}
	</select>
	
	<insert id="replyWri" parameterType="QnaDTO">
		insert into question_answer(m_code,p_id,q_target_id, q_content)
		values (#{m_code}, #{p_id}, #{q_target_id}, #{q_content})
	</insert>
	
	<update id="replyModi" parameterType="QnaDTO">
		update question_answer
		set 
			q_content = #{q_content}
		where
			q_target_id = #{q_target_id}
		    AND q_id != #{q_target_id};
	</update>
</mapper>