<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.playchoice.mappers.qnaMapper">
	<insert id="insertQuset" parameterType="java.util.HashMap">
	<selectKey keyProperty="q_target_id" order="BEFORE" resultType="Integer">
		SELECT MAX(q_id)+1
		FROM question_answer
	</selectKey>
	INSERT INTO question_answer
		(q_content, m_code, p_id, q_target_id)
	VALUES
		(#{q_content}, #{m_code}, #{p_id}, #{q_target_id});
	</insert>
	
	<!-- 혹시 안되면 Mysql Safe Update 가 꺼져있는 지 확인하자 edit->SQL EDITOR->Other -->
	<update id="deleteQna" parameterType="QnaDTO" >
		UPDATE question_answer
		SET 
			q_deleted = '1'
		WHERE
			q_id = #{q_id}
			OR q_target_id = #{q_id}
	</update>
</mapper>