<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.playchoice.mappers.reviewMapper">
	<select id="getTotalReview" parameterType="Integer"
	resultType="java.util.HashMap">
		SELECT
			member.m_id AS m_id, review.r_content AS r_content, review.r_register_time AS r_register_time
			,review.r_play_score AS r_play_score
		FROM
			play, schedule, review, member
		WHERE
			review.s_id = schedule.s_id
			AND schedule.p_id = '1'
			AND review.m_code = member.m_code
		LIMIT 20;
	</select>
	
	<!-- 리뷰 작성시 가져올 데이터 -->
	<select id="actorInfo" resultType="java.util.HashMap" parameterType="PaymentDTO">
		SELECT actor.a_name AS a_name, actor.a_picture AS a_picture, play.p_id AS p_id, play.p_name AS p_name,s_id
		FROM play.actor, play.`schedule`, play.play
		WHERE play.`schedule`.s_id=#{s_id}
		AND play.actor.a_id IN(play.`schedule`.a_id1 , play.`schedule`.a_id2)
        AND play.p_id = `schedule`.p_id;
		
		
	</select>
	
	<insert id="regReview" parameterType="ReviewDTO">
		INSERT INTO review(m_code, s_id, r_content, r_play_score, r_actor1_score, r_actor2_score)
		VALUES (#{m_code}, #{s_id}, #{r_content}, #{r_play_score}, #{r_actor1_score}, #{r_actor2_score})
	</insert>
	
	<select id="isReviewExist" resultType="int">
		SELECT COUNT(*)
		FROM review
		WHERE m_code = #{m_code}
		AND s_id = #{s_id}
	</select>
	
	<select id="getReview" resultType="ReviewDTO">
		SELECT *
		FROM review
		WHERE m_code = #{m_code}
		AND s_id = #{s_id}
	</select>
	
</mapper>
