<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.playchoice.mappers.siteAdminMapper">

	<select id="genreList" resultType="GenreDTO">
		SELECT *
		FROM genre
		ORDER BY g_id
	</select>

	<insert id="genreInsert">
		INSERT INTO genre
		(g_name)
		VALUES(#{g_name})
	</insert>

	<update id="genreUpdate">
		UPDATE genre
		SET g_name = #{g_name}
		WHERE g_id = #{g_id}
	</update>

	<select id="areaList" resultType="AreaDTO">
		SELECT *
		FROM area
		ORDER BY a_id
	</select>

	<insert id="areaInsert">
		INSERT INTO area
		(a_name)
		VALUES(#{a_name})
	</insert>

	<update id="areaUpdate">
		UPDATE area
		SET a_name = #{a_name}
		WHERE a_id = #{a_id}
	</update>

	<!-- 멤버 관리 -->
	<select id="memberList" resultType="memberDTO">
		SELECT m_code, m_id, m_name, m_level, m_mail, m_status, m_phone
		FROM member
	</select>

	<select id="memberSearch" resultType="MemberDTO" parameterType="MemberSearchDTO">
		SELECT m_code, m_id, m_name, m_level, m_mail, m_status, m_phone
		FROM member
		<where>
			<if test="level != null">
				m_level = #{level}
			</if>
			<if test="code != null">
				AND m_code = #{code}
			</if>
			<if test="status != null">
				AND m_status = #{status}
			</if>
			<if test="id != null and id != ''">
				AND m_id LIKE CONCAT('%', #{id}, '%')
			</if>
			<if test="name != null and name != ''">
				AND m_name LIKE CONCAT('%', #{name}, '%')
			</if>
		</where>
	</select>
	
	<select id="getMember" resultType="memberDTO">
		SELECT m_code, m_id, m_name, m_level, m_mail, m_status, m_phone
		FROM member
		WHERE m_code = #{m_code}
	</select>

	<update id="memberUpdate" parameterType="memberDTO">
		UPDATE member SET
		m_level = #{m_level},
		m_status = #{m_status}
		WHERE m_code = #{m_code}
	</update>
	
	<delete id="memberDelete">
		update member set
		m_status = #{m_status}
		where m_code = #{m_code}
	</delete>
	
	<update id="memberBlack" parameterType="memberDTO">
		update member set
		m_status = #{m_status}
		where m_code = #{m_code}
	</update>

	<!-- 배우 관리 -->
	<select id="actorList" resultType="actorDTO">
		SELECT * FROM actor
	</select>
	

	<update id="actorUpdate" parameterType="actorDTO">
		update actor
		set a_name = #{a_name},
		a_birth = #{a_birth},
		a_homepage = #{a_homepage},
		a_deleted = #{a_deleted}
		<if test="a_picture != null">
		, a_picture = #{a_picture}
		</if>
		where a_id = #{a_id}
	</update>
	
	<update id="actorDelete" parameterType="actorDTO">
		update actor set
		a_deleted = #{a_deleted} where a_id = #{a_id}
	</update>
	
	<insert id="insertActor" parameterType="java.util.HashMap">
		INSERT INTO actor(a_name,a_birth,a_homepage,a_picture)
		VALUES(#{a_name},#{a_birth},#{a_homepage},#{a_picture})
	</insert>
	
	<select id="playList" resultType="PlayDTO">
		SELECT *
		FROM play
	</select>
	
</mapper>
