<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.playchoice.mappers.siteAdminMapper">

	<select id="genreList" resultType="GenreDTO">
		SELECT * FROM genre
	</select>

	<insert id="genreInsert">
		INSERT INTO genre
		(g_name)
		VALUES(#{g_name})
	</insert>

	<update id="genreUpdate">
		UPDATE genre
		SET g_name = #{g_name}
		WHERE g_id = #{g_id}
	</update>

	<select id="areaList" resultType="AreaDTO">
		SELECT * FROM area
	</select>

	<insert id="areaInsert">
		INSERT INTO area
		(a_name)
		VALUES(#{a_name})
	</insert>

	<update id="areaUpdate">
		UPDATE area
		SET a_name = #{a_name}
		WHERE a_id = #{a_id}
	</update>

	<!-- 멤버 관리 -->
	<select id="memberList" resultType="memberDTO">
		SELECT * FROM member
	</select>

	<update id="memberUpdate" parameterType="memberDTO">
		update member set
		m_id
		=
		#{m_id}, m_pw = #{m_pw}, m_name = #{m_name}, m_mail =
		#{m_mail},m_phone =
		#{m_phone},m_level = #{m_level}, m_status =
		#{m_status}
		where m_code = #{m_code}
	</update>
	<delete id="memberDelete">
		DELETE FROM member
		WHERE m_code = #{m_code}
	</delete>
	<update id="memberBlack" parameterType="memberDTO">
		update member set
		m_status =
		#{m_status}
		where m_code = #{m_code}
	</update>

	<!-- 배우 관리 -->
	<select id="actorList" resultType="actorDTO">
		SELECT * FROM actor
	</select>

	<update id="actorUpdate" parameterType="actorDTO">
		update actor set a_name =
		#{a_name}, a_birth = #{a_birth}, a_homepage = #{a_homepage}, a_picture
		= #{a_picture}
		where a_id = #{a_id}
	</update>
	<update id="actorDelete" parameterType="actorDTO">
		update actor set
		a_deleted = #{a_deleted} where a_id = #{a_id}
	</update>
</mapper>
