<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <typeAliases>
        <package name="com.playchoice.actor.dto"/>
        <package name="com.playchoice.admin.dto"/>
        <package name="com.playchoice.article.dto"/>
        <package name="com.playchoice.member.dto"/>
        <package name="com.playchoice.play.dto"/>
        <package name="com.playchoice.schedule.dto"/>
    </typeAliases>

</configuration>
